<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>