@model TravelBlog.Models.Comment
<script>
    $(document).ready(function () {
        $(form).submit(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("Create", "Comment")',
                type: 'POST',
                dataType: 'json',
                data: $(this).serialize(),
            });
        });
    });
</script>
<h2>Add a new Comment</h2>
<hr />
    @using (Html.BeginForm())
    {
        @Html.EditorFor(model => model.CommentBody)
        <input type="submit" value="Create" />
    }

@*<form action="CreateComment" class="new-destination">
    <textarea type="text" name="CommentBody" />
    <button type="submit">SUBMIT</button>
</form>*@




